* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    margin: 0px;
    padding: 0px;
    background: #000;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0px;
    height: 70px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.navbar-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}

.navbar-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
}

.nav-item {
    margin: 10px;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(218, 64, 218);
}

.head {
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 0px;
}

.title {
    display: flex;
    color: white;
    justify-content: center;
    z-index: 1;
    transform: translate(0%, 550%);
}
.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.img {
    display: flex;
    justify-content: center;
    z-index: -1;
}